<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benvingut</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <header>
        <h1>Gestió de Reserves per <%= user.name %>!</h1>
        <h2><%- htmlMessage %></h2>
    </header>
    <main>
        <section>
            <h2>Llista de Reserves</h2>
            <ul class="element-list">
                <% data.reserves.forEach(reserva=> { %>
                    <li class="element-item">
                        <strong><%= reserva.id %></strong>
                        <span>Hora d'inici: <%= reserva.data_hora_inici %></span>
                        <span>Hora final: <%= reserva.data_hora_fin %></span>
                        <span>Estat: <%= reserva.estat %></span>
                        <span>Id d'usuari: <%= reserva.idUsuari %></span>
                        <span>Id del recurs: <%= reserva.idRecurs %></span>
                    </li>
                    <% }) %>

            </ul>
        </section>
    </main>
</body>

</html>